<div class = "jumbotron" style = "background-color: #fffaf0; margin-top: 10%; opacity: 0.9"><center>
<h2>Sign up</h2><br>
<form action="/create_user">
  <div>
  <label for = "username">username</label><br>
  <input type = "text" name = "username" id = "username">
  </div>
  
  <div><br>
  <label for = "password">password</label><br>
  <input type = "password" name = "password" id = "password">
  </div>
  
  <div><br>
  <label for = "password_confirmation">re-enter password</label><br>
  <input type = "password" name = "password_confirmation" id = "password_confirmation">
  </div>
  
  <div><br>
    <a class = "btn btn-primary btn-lg"><input type = "submit" style = "background-color: Transparent; outline: none; border: none"></a>
  </div>
  
</form>

  </center></div>


