<div class="jumbotron" style = "background-color: #f08080; margin-top: 15%; opacity: 0.8"><center> <!-- JUMBO BACK -->
  <h1 style = "color: #76eec6">welcome to tymade</h1> <!-- JuMBO FONT -->
  <p style = "color: #fffaf0">don't choose between friends, grades, and sleep</p>
  <p><a style = "background-color: #76eec6; border-color: white" class="btn btn-primary btn-lg" href="/sessions/new" role="button">Log in</a>
    <a style = "background-color: #76eec6; border-color: white" class="btn btn-primary btn-lg" href="/new_user" role="button">Sign up</a></p>
  </center>
</div>